<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', path='css/delete_process.css') }}">

  <script src="{{ url_for('static', path='js/delete_process.js') }}"></script>


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
  <title>Delete process</title>
</head>
<body>
  <div class="main_body">
    <div class="h1_header">
      <h1>Delete process</h1>
    </div>
    <div class="table">
      <table>
        <colgroup>
          <col span="1" style="width: 70%;">
          <col span="1" style="width: 15%;">
          <col span="1" style="width: 15%;">
        </colgroup>

        <tr class="table_headers">
          <th>Service Name</th>
          <th>Delete from DataBase</th>
          <th>Delete from systemd</th>
        </tr>

        {% for process in processes %}
        <tr id="process">
          <td>
            <span id="process_name">{{ process.name }}</span>
          </td>
          <td id="delete_from_db">
            <label class="switch">
              <input type="checkbox" id="db">
              <span class="slider"></span>
            </label>
          </td>
          <td id="delete_from_systemd">
            <label class="switch">
              <input type="checkbox" id="systemd">
              <span class="slider"></span>
            </label>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="buttons">
      <button class="button" id="back">Back</button>
      <button class="button" id="delete">Delete</button>
    </div>
  </div>
</body>
</html>
