<head>

<title>Login</title>
<meta charset="utf-9">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ url_for('static', path='css/login.css') }}">
<script src="{{ url_for('static', path='js/login.js') }}"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">


</head>
<body>

<div class="main">

  <div class="h1_header">
    <h1>Login to admin panel</h1>
  </div>
  <div class="form">
    <form action="login" method="post">
      <input type="text" name="username">
      <input type="password" name="password">
      <input type="submit" value="Войти" class="button">
    </form>
  </div>
</div>



</body>