<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', path='css/root.css') }}">


  <script src="{{ url_for('static', path='js/root.js') }}"></script>


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
  <title>Page Title</title>
</head>
<body>
  <div class="main_body">
    <h1 class="centered_text">Blya page</h1>
    <button class="button" id="admin">Go to admin</button>
  </div>
</body>
</html>
